* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.material-symbols-outlined {
 font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
}
.char {
    width: 300px;
    height: 350px;
    background-image: url('../img/png-sprite.png');
}
.char:hover {
    background-position: 850px 400px;
}
.fas {
    font-size: 96px;
    color: red;
}
.fas:hover {
    color: green
}
.google-icon {
    font-size: 120px;
    color: blue;
}
.google-icon:hover {
    color: purple;
}
