.about {
  background-image: url("../img/briks.jpg");
  background-size: cover;
  background-color: rgba(0,0,0,.7);
  background-blend-mode: overlay;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 494px;
  grid-template-rows: auto 1fr auto;
  gap: 35px 50px;
  &__img {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }
  &__title,
  &__desc {
    margin: 0;
    line-height: 1.5;
    font-weight: 700;
  }
  &__title {
    margin-bottom: 15px;
    font-size: 36px;
  }
  &__btns {
    display: flex;
    gap: 30px;
  }
}
