.nav {
  &__list {
    list-style:none;
    display: flex;
    gap: 15px;
  }
  &__link {
    text-decoration: none;
    color: #85AAAB;
    font-size: 18px;
    font-weight: 700;
    &_active {
      color: #6DE1E3;
      border-bottom:  2px solid currentColor;
    }
    &:hover,
    &:focus {
      color: #63cdcf;
    }
  }
}
