.offer {
  padding-top: 241px;
  padding-bottom: 161px;
  background-image: url('../img/photo-to-main-offer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  &__title {
    max-width: 454px;
    font-size: 48px;
    line-height: 1.5;
    margin:0 0 55px;
  }
  &__desc {
    font-size: 24px;
    line-height: 1.5;
    max-width: 325px;
    margin:0 0 55px;
  }
}
