.services {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 37px;
  &__item {
    max-width: 300px;
    text-align: center;
  }
  &__icon {
    margin-bottom: 30px;
  }
  &__title {
    font-size: 24px;
    line-height: 1.33;
    margin: 0 0 20px;
    color: #2D5E5E;
  }
  &__description {
    font-weight: 500;
    line-height: 1.5;
  }
}
